body {
    background: linear-gradient(270deg, transparent 15px, #00d9ff 15px, #00d9ff 30px, transparent 30px) repeat-y,
                linear-gradient(-270deg, transparent 15px, #00d9ff 15px, #00d9ff 30px, transparent 30px) repeat-y;
    background-size: 30px 60px;
    background-position: left, right;
}
h1 { /* Title/Header */
    font-family: Cursive;
    font-size: 48px; 
    font-weight: bold;
    font-style: italic;
    text-align: center; 
    /* Work around to get underline to fully work. */
    border-bottom: 3px solid black; /* Creates an underline */
    display: inline-block;
    padding-bottom: 0.1px; /* Adds spacing */
}
h2 { /* Subpage Title/Header */
    font-family: Cursive;
    font-size: 36px; 
    font-weight: bold;
    text-align: center; 
}
h3 { /* Body text */
    font-family: Sans-serif;
    font-size: 24px;
    font-weight: normal;
    text-align: left;;
}
